import express from "express";

// import { getModelController } from "../controllers";

export default (router: express.Router) => {
  // router.get("/user/:id", getModelController);
  //   router.post("/user", postMethodController);
  //   router.put("/user/:id", putMethodController);
  //   router.delete("/user/:id", deleteMethodController);
};
